/*custom changes*/

#header {
    background: #000000;
}

#header .logo {
    width: 370px;
}

.headerMenu {
    margin-left: auto;
}

.rmUlNative,
.rmUlNative li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.headerMenu li {
    padding: 5px;
    margin: 0px 15px 0px 0px;
    min-width: 75px;
}

.headerMenu li a {
    color: #C2BFBF;
    text-decoration: none;
    text-transform: capitalize;
}

.headerMenu li:hover a {
    color: #FFFFFF;
    font-weight: bold;
}

.testiprofile {
    min-width: 200px;
    max-width: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.highlights section {
    padding: 1.5rem !important;
}

.highlights section a,
.highlights section a:hover {
    color: #0056b3;
}